In [2]:
import pandas as pd

# Load the data
df = pd.read_csv('flightdata.csv')

# Display basic information about the DataFrame
print("Original DataFrame Info:")
df.info()

Original DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123984 entries, 0 to 123983
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      123984 non-null  int64
 1   year            123984 non-null  int64
 2   month           123984 non-null  int64
 3   day             123984 non-null  int64
 4   dep_time        121788 non-null  float64
 5   sched_dep_time  123984 non-null  int64
 6   dep_delay       121788 non-null  float64
 7   arr_time        121651 non-null  float64
 8   sched_arr_time  123984 non-null  int64
 9   arr_delay       121427 non-null  float64
 10  carrier         123984 non-null  object
 11  flight          123984 non-null  int64
 12  tailnum         123003 non-null  object
 13  origin          123984 non-null  object
 14  dest            123984 non-null  object
 15  air_time        121427 non-null  float64
 16  distance        123984 non-null  int64
 17  hour            123984 non-null  int64
 18  minute          123984 non-null  int64
 19  time_hour       123984 non-null  object
 20  flightb         123984 non-null  object
 21  totflight       123984 non-null  int64
 22  avgdelay        123972 non-null  float64
 23  airline         123984 non-null  object
 24  airport         123984 non-null  object
 25  lat             123984 non-null  float64
 26  lon             123984 non-null  float64
 27  alt             123984 non-null  int64
 28  tz              123984 non-null  int64
 29  dst             123984 non-null  object
 30  tzone           123984 non-null  object
dtypes: float64(8), int64(13), object(10)
memory usage: 29.3+ MB

In [3]:
# Display the shape of the original DataFrame
print("Original DataFrame Shape:", df.shape)

Original DataFrame Shape: (123984, 31)

In [4]:
# Display whether there are any missing values in the original DataFrame
print("Original DataFrame Has Missing Values:", df.isnull().values.any())

Original DataFrame Has Missing Values: True

In [5]:
# Display whether there are any missing values in the original DataFrame
print("Original DataFrame Has Missing Values:", df.isnull().values.any())

# Display the count of missing values for each column in the original DataFrame
print("Original DataFrame Missing Values per Column:")
print(df.isnull().sum())

Original DataFrame Has Missing Values: True
Original DataFrame Missing Values per Column:
Unnamed: 0           0
year                 0
month                0
day                  0
dep_time          2196
sched_dep_time       0
dep_delay         2196
arr_time          2333
sched_arr_time       0
arr_delay         2557
carrier              0
flight               0
tailnum            981
origin               0
dest                 0
air_time          2557
distance             0
hour                 0
minute               0
time_hour            0
flightb              0
totflight            0
avgdelay            12
airline              0
airport              0
lat                  0
lon                  0
alt                  0
tz                   0
dst                  0
tzone                0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

# Columns to impute
columns_to_impute = ['dep_time', 'dep_delay', 'arr_time', 'arr_delay', 'tailnum', 'air_time', 'avgdelay']

# Replace 'mean' with 'most_frequent' for non-numeric data
imputer = SimpleImputer(strategy='most_frequent')

# Fit and transform the imputer on the specified columns
df[columns_to_impute] = imputer.fit_transform(df[columns_to_impute])

In [7]:
# Display the shape and missing values of the DataFrame after dropping columns
print("\nDataFrame Info After Column imputation:")
print(df.info())

DataFrame Info After Column imputation:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123984 entries, 0 to 123983
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      123984 non-null  int64
 1   year            123984 non-null  int64
 2   month           123984 non-null  int64
 3   day             123984 non-null  int64
 4   dep_time        123984 non-null  object
 5   sched_dep_time  123984 non-null  int64
 6   dep_delay       123984 non-null  object
 7   arr_time        123984 non-null  object
 8   sched_arr_time  123984 non-null  int64
 9   arr_delay       123984 non-null  object
 10  carrier         123984 non-null  object
 11  flight          123984 non-null  int64
 12  tailnum         123984 non-null  object
 13  origin          123984 non-null  object
 14  dest            123984 non-null  object
 15  air_time        123984 non-null  object
 16  distance        123984 non-null  int64
 17  hour            123984 non-null  int64
 18  minute          123984 non-null  int64
 19  time_hour       123984 non-null  object
 20  flightb         123984 non-null  object
 21  totflight       123984 non-null  int64
 22  avgdelay        123984 non-null  object
 23  airline         123984 non-null  object
 24  airport         123984 non-null  object
 25  lat             123984 non-null  float64
 26  lon             123984 non-null  float64
 27  alt             123984 non-null  int64
 28  tz              123984 non-null  int64
 29  dst             123984 non-null  object
 30  tzone           123984 non-null  object
dtypes: float64(2), int64(13), object(16)
memory usage: 29.3+ MB
None

In [8]:
print("\nmissing values of the DataFrame after dropping columns:", df.isnull().sum())

missing values of the DataFrame after dropping columns: Unnamed: 0        0
year              0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         0
carrier           0
flight            0
tailnum           0
origin            0
dest              0
air_time          0
distance          0
hour              0
minute            0
time_hour         0
flightb           0
totflight         0
avgdelay          0
airline           0
airport           0
lat               0
lon               0
alt               0
tz                0
dst               0
tzone             0
dtype: int64

In [9]:
print("\nDataFrame Shape After Column imputation:", df.shape)

DataFrame Shape After Column imputation: (123984, 31)

In [10]:
df.head()

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,totflight,avgdelay,airline,airport,lat,lon,alt,tz,dst,tzone
0,1,2013,1,1,542.0,540,2.0,923.0,850,33.0,...,91,2.101124,American Airlines Inc.,Miami Intl,25.793250,-80.290556,8,-5,A,America/New_York
1,2,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,...,268,-0.708812,Delta Air Lines Inc.,Hartsfield Jackson Atlanta Intl,33.636719,-84.428067,1026,-5,A,America/New_York
2,3,2013,1,1,554.0,558,-4.0,740.0,728,12.0,...,1,-4.0,United Air Lines Inc.,Chicago Ohare Intl,41.978603,-87.904842,668,-6,A,America/Chicago
3,4,2013,1,1,555.0,600,-5.0,913.0,854,19.0,...,168,0.789157,JetBlue Airways,Fort Lauderdale Hollywood Intl,26.072583,-80.152750,9,-5,A,America/New_York
4,5,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,...,162,-0.440994,JetBlue Airways,Orlando Intl,28.429394,-81.308994,96,-5,A,America/New_York

In [11]:
from sklearn.model_selection import train_test_split

# Specify the features (X) and the target variable (y)
X = df.drop(['arr_time'], axis=1)  # Adjust with your target variable
y = df['arr_time']  # Replace 'arrival_time' with your target variable

# Split the data into training and testing sets (e.g., 80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (99187, 30)
X_test shape: (24797, 30)
y_train shape: (99187,)
y_test shape: (24797,)

In [12]:
from sklearn.model_selection import cross_val_score, cross_val_predict, StratifiedKFold
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [13]:
print("Unique values in y_train:", y_train.unique())

Unique values in y_train: [33.0 2253.0 2224.0 ... 315.0 401.0 623.0]

In [14]:
# @title
print(X_train.dtypes)
print(X_train.isnull().sum())

print(y_train.dtypes)
print(y_train.isnull().sum())

Unnamed: 0          int64
year                int64
month               int64
day                 int64
dep_time           object
sched_dep_time      int64
dep_delay          object
sched_arr_time      int64
arr_delay          object
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time           object
distance            int64
hour                int64
minute              int64
time_hour          object
flightb            object
totflight           int64
avgdelay           object
airline            object
airport            object
lat               float64
lon               float64
alt                 int64
tz                  int64
dst                object
tzone              object
dtype: object
Unnamed: 0        0
year              0
month             0
day               0
dep_time          0
sched_dep_time    0
dep_delay         0
sched_arr_time    0
arr_delay         0
carrier           0
flight            0
tailnum           0
origin            0
dest              0
air_time          0
distance          0
hour              0
minute            0
time_hour         0
flightb           0
totflight         0
avgdelay          0
airline           0
airport           0
lat               0
lon               0
alt               0
tz                0
dst               0
tzone             0
dtype: int64
object
0

In [15]:
# Identify unique values in columns with 'object' data type in X_train
object_columns_X = X_train.select_dtypes(include=['object']).columns
for column in object_columns_X:
    print(f"Unique values in {column}: {X_train[column].unique()}")

# Check the unique values in y_train
print("Unique values in y_train:", y_train.unique())

Unique values in dep_time: [2333.0 1924.0 2123.0 ... 105.0 8.0 149.0]
Unique values in dep_delay: [38.0 -1.0 43.0 -2.0 -5.0 11.0 35.0 1.0 2.0 0.0 -11.0 -6.0 52.0 26.0 -3.0
 6.0 -4.0 -7.0 7.0 4.0 10.0 17.0 9.0 -8.0 18.0 -10.0 99.0 32.0 13.0 96.0
 68.0 15.0 164.0 5.0 31.0 24.0 3.0 70.0 14.0 69.0 54.0 176.0 -9.0 45.0
 165.0 114.0 406.0 33.0 39.0 57.0 65.0 46.0 12.0 16.0 -13.0 8.0 19.0 28.0
 37.0 42.0 84.0 87.0 249.0 111.0 62.0 29.0 -12.0 22.0 40.0 105.0 51.0 59.0
 207.0 -14.0 83.0 193.0 128.0 34.0 30.0 -15.0 27.0 112.0 64.0 93.0 90.0
 121.0 129.0 108.0 71.0 20.0 92.0 23.0 94.0 123.0 79.0 81.0 101.0 89.0
 216.0 86.0 73.0 248.0 117.0 163.0 134.0 47.0 225.0 48.0 56.0 55.0 95.0
 97.0 36.0 74.0 267.0 21.0 41.0 175.0 167.0 209.0 149.0 75.0 158.0 58.0
 53.0 153.0 44.0 159.0 67.0 190.0 194.0 25.0 124.0 125.0 116.0 115.0 66.0
 50.0 78.0 169.0 181.0 139.0 136.0 77.0 251.0 184.0 60.0 88.0 106.0 150.0
 201.0 63.0 118.0 133.0 381.0 131.0 49.0 137.0 72.0 110.0 287.0 -17.0
 143.0 98.0 301.0 80.0 354.0 85.0 171.0 61.0 82.0 107.0 135.0 314.0 322.0
 154.0 186.0 113.0 352.0 198.0 179.0 104.0 237.0 180.0 120.0 245.0 119.0
 178.0 192.0 170.0 100.0 214.0 174.0 76.0 230.0 -19.0 222.0 91.0 298.0
 206.0 454.0 242.0 247.0 172.0 122.0 271.0 224.0 168.0 132.0 213.0 258.0
 372.0 152.0 161.0 157.0 144.0 151.0 146.0 238.0 -20.0 183.0 102.0 278.0
 223.0 189.0 -16.0 337.0 217.0 156.0 231.0 148.0 312.0 177.0 145.0 277.0
 218.0 229.0 211.0 306.0 130.0 276.0 336.0 303.0 126.0 147.0 199.0 195.0
 296.0 239.0 424.0 343.0 127.0 166.0 233.0 215.0 273.0 208.0 103.0 202.0
 318.0 896.0 109.0 -18.0 141.0 288.0 182.0 -21.0 270.0 196.0 366.0 800.0
 200.0 282.0 280.0 160.0 297.0 188.0 334.0 246.0 142.0 226.0 228.0 140.0
 187.0 -23.0 268.0 204.0 232.0 290.0 203.0 240.0 401.0 291.0 255.0 281.0
 191.0 155.0 185.0 316.0 227.0 243.0 212.0 162.0 389.0 138.0 747.0 639.0
 235.0 309.0 173.0 274.0 259.0 210.0 443.0 327.0 221.0 500.0 261.0 380.0
 325.0 330.0 257.0 265.0 219.0 263.0 260.0 399.0 250.0 319.0 355.0 420.0
 357.0 292.0 392.0 308.0 286.0 220.0 753.0 510.0 702.0 285.0 284.0 348.0
 307.0 252.0 320.0 351.0 302.0 234.0 350.0 254.0 370.0 293.0 313.0 294.0
 364.0 266.0 332.0 197.0 660.0 256.0 397.0 345.0 304.0 295.0 374.0 341.0
 408.0 275.0 262.0 236.0 419.0 241.0 272.0 -24.0 -22.0 356.0 333.0 253.0
 269.0 798.0 360.0 466.0 299.0 205.0 405.0 321.0 379.0 361.0 315.0 279.0
 264.0 415.0 328.0 362.0 436.0 411.0 371.0 347.0 283.0 289.0 323.0 339.0
 446.0 431.0 346.0 359.0 878.0 508.0 486.0 349.0 636.0 311.0 580.0 437.0
 344.0 329.0 502.0 244.0 390.0 453.0 898.0 520.0 410.0 375.0 393.0 396.0
 447.0 494.0 786.0 369.0 335.0 340.0 383.0 317.0 589.0]
Unique values in arr_delay: [37.0 6.0 36.0 -6.0 -9.0 -8.0 13.0 -19.0 2.0 -4.0 -7.0 -29.0 40.0 4.0 33.0
 23.0 -32.0 -3.0 -11.0 -17.0 -1.0 -21.0 -12.0 -25.0 -2.0 0.0 18.0 -18.0
 -13.0 9.0 -58.0 -14.0 11.0 -16.0 104.0 -22.0 -26.0 -27.0 -23.0 111.0 71.0
 41.0 -20.0 157.0 3.0 -5.0 -10.0 -15.0 20.0 27.0 64.0 60.0 15.0 47.0 29.0
 19.0 22.0 21.0 25.0 -61.0 -38.0 -36.0 135.0 66.0 5.0 196.0 1.0 32.0 70.0
 152.0 35.0 94.0 12.0 17.0 378.0 76.0 -30.0 16.0 58.0 -39.0 10.0 7.0 84.0
 39.0 110.0 92.0 -37.0 30.0 -28.0 24.0 53.0 38.0 55.0 93.0 74.0 91.0 52.0
 -34.0 239.0 8.0 -60.0 116.0 63.0 45.0 43.0 48.0 -31.0 26.0 173.0 31.0
 42.0 46.0 44.0 183.0 123.0 188.0 113.0 14.0 -24.0 67.0 -33.0 28.0 -52.0
 90.0 61.0 122.0 85.0 126.0 -42.0 144.0 50.0 -55.0 -35.0 -41.0 54.0 112.0
 65.0 78.0 79.0 34.0 97.0 136.0 89.0 82.0 96.0 193.0 230.0 49.0 163.0
 -46.0 -49.0 69.0 81.0 -43.0 88.0 75.0 95.0 274.0 62.0 106.0 51.0 154.0
 98.0 145.0 114.0 99.0 103.0 -44.0 -62.0 -57.0 83.0 160.0 177.0 -45.0
 197.0 120.0 108.0 139.0 105.0 150.0 73.0 57.0 156.0 100.0 161.0 59.0
 129.0 -47.0 125.0 56.0 121.0 117.0 -53.0 250.0 175.0 86.0 80.0 204.0
 -40.0 147.0 213.0 115.0 151.0 -56.0 141.0 385.0 130.0 162.0 133.0 -50.0
 247.0 119.0 87.0 124.0 227.0 272.0 127.0 148.0 102.0 383.0 185.0 101.0
 -48.0 322.0 302.0 68.0 128.0 171.0 335.0 132.0 131.0 181.0 107.0 174.0
 134.0 223.0 143.0 264.0 192.0 149.0 238.0 303.0 243.0 434.0 231.0 118.0
 72.0 166.0 167.0 282.0 263.0 184.0 206.0 -54.0 248.0 358.0 77.0 194.0
 186.0 -51.0 190.0 153.0 191.0 169.0 -73.0 242.0 201.0 189.0 172.0 182.0
 158.0 146.0 368.0 214.0 309.0 168.0 165.0 241.0 187.0 216.0 142.0 252.0
 155.0 179.0 279.0 244.0 307.0 291.0 224.0 178.0 316.0 266.0 109.0 249.0
 159.0 312.0 398.0 313.0 202.0 205.0 210.0 218.0 225.0 336.0 878.0 -65.0
 259.0 237.0 137.0 784.0 271.0 256.0 199.0 200.0 232.0 338.0 207.0 228.0
 286.0 235.0 -68.0 260.0 140.0 267.0 180.0 268.0 195.0 220.0 164.0 236.0
 281.0 215.0 212.0 -59.0 138.0 261.0 377.0 744.0 270.0 294.0 616.0 275.0
 209.0 288.0 329.0 254.0 506.0 330.0 311.0 325.0 176.0 485.0 258.0 251.0
 364.0 265.0 300.0 245.0 356.0 321.0 170.0 283.0 255.0 404.0 208.0 284.0
 326.0 234.0 424.0 262.0 217.0 229.0 353.0 318.0 276.0 362.0 346.0 219.0
 -69.0 273.0 516.0 285.0 396.0 406.0 280.0 688.0 246.0 -64.0 345.0 324.0
 323.0 354.0 372.0 -63.0 319.0 233.0 240.0 317.0 361.0 301.0 221.0 366.0
 340.0 226.0 648.0 401.0 211.0 203.0 277.0 332.0 198.0 278.0 337.0 253.0
 389.0 411.0 308.0 327.0 269.0 333.0 390.0 342.0 314.0 796.0 347.0 -66.0
 348.0 289.0 297.0 448.0 380.0 320.0 257.0 222.0 394.0 422.0 376.0 -70.0
 293.0 305.0 384.0 375.0 373.0 399.0 296.0 299.0 403.0 360.0 344.0 290.0
 304.0 -71.0 292.0 369.0 420.0 454.0 328.0 875.0 -67.0 469.0 492.0 614.0
 645.0 490.0 374.0 445.0 895.0 407.0 496.0 495.0 773.0 351.0 386.0 370.0
 287.0 298.0 561.0]
Unique values in carrier: ['B6' 'DL' 'AA' 'UA' 'US' 'EV' 'MQ' '9E']
Unique values in tailnum: ['N638JB' 'N917DL' 'N281JB' ... 'N734MQ' 'N713MQ' 'N603MQ']
Unique values in origin: ['JFK' 'LGA' 'EWR']
Unique values in dest: ['BOS' 'MIA' 'SFO' 'ATL' 'LAX' 'ORD' 'MCO' 'CLT' 'FLL']
Unique values in air_time: [37.0 166.0 42.0 356.0 39.0 36.0 154.0 149.0 122.0 312.0 343.0 102.0 336.0
 105.0 394.0 334.0 129.0 79.0 311.0 127.0 77.0 164.0 107.0 132.0 41.0
 110.0 123.0 114.0 180.0 82.0 156.0 38.0 151.0 112.0 346.0 300.0 158.0
 106.0 93.0 319.0 145.0 131.0 100.0 141.0 96.0 130.0 157.0 125.0 84.0
 160.0 88.0 163.0 155.0 144.0 392.0 137.0 139.0 136.0 340.0 325.0 148.0
 360.0 335.0 126.0 348.0 121.0 128.0 35.0 176.0 342.0 159.0 101.0 161.0
 118.0 92.0 32.0 338.0 113.0 326.0 330.0 138.0 109.0 89.0 313.0 111.0 67.0
 40.0 135.0 76.0 147.0 329.0 368.0 91.0 133.0 117.0 116.0 304.0 371.0
 387.0 165.0 34.0 328.0 103.0 153.0 90.0 364.0 146.0 318.0 142.0 104.0
 45.0 350.0 94.0 98.0 140.0 184.0 85.0 188.0 80.0 355.0 316.0 332.0 115.0
 119.0 291.0 33.0 78.0 353.0 351.0 152.0 97.0 167.0 143.0 337.0 99.0 349.0
 44.0 367.0 170.0 134.0 331.0 124.0 370.0 359.0 308.0 373.0 375.0 347.0
 87.0 341.0 307.0 43.0 150.0 83.0 48.0 189.0 75.0 120.0 46.0 59.0 327.0
 204.0 333.0 320.0 365.0 74.0 345.0 322.0 290.0 162.0 86.0 315.0 203.0
 321.0 354.0 361.0 324.0 81.0 299.0 286.0 108.0 169.0 172.0 363.0 344.0
 209.0 317.0 369.0 314.0 288.0 54.0 382.0 323.0 95.0 306.0 298.0 183.0
 309.0 173.0 305.0 73.0 302.0 366.0 339.0 175.0 171.0 352.0 310.0 168.0
 181.0 295.0 47.0 362.0 195.0 49.0 69.0 51.0 376.0 186.0 72.0 357.0 71.0
 182.0 293.0 31.0 50.0 56.0 30.0 301.0 381.0 372.0 380.0 358.0 389.0 294.0
 187.0 196.0 297.0 179.0 174.0 296.0 379.0 177.0 390.0 55.0 194.0 192.0
 190.0 374.0 64.0 378.0 395.0 303.0 289.0 383.0 284.0 287.0 201.0 178.0
 215.0 385.0 292.0 53.0 198.0 388.0 281.0 70.0 377.0 185.0 63.0 62.0 280.0
 66.0 57.0 391.0 413.0 191.0 207.0 402.0 396.0 285.0 205.0 197.0 60.0 52.0
 405.0 212.0 200.0 193.0 384.0 29.0 277.0 399.0 68.0 279.0 21.0 218.0
 393.0 398.0 222.0 386.0 400.0 199.0 216.0 61.0 283.0 208.0 232.0 23.0
 406.0 65.0 229.0 282.0 214.0 202.0 211.0 58.0 220.0 421.0 410.0 397.0
 401.0 409.0 403.0 420.0 219.0 426.0 490.0 422.0 408.0 231.0 239.0 233.0
 206.0 275.0 440.0 26.0 411.0 414.0]
Unique values in time_hour: ['2013-11-18 22:00:00' '2013-02-26 19:00:00' '2013-03-01 20:00:00' ...
 '2013-04-11 22:00:00' '2013-08-15 23:00:00' '2013-08-13 23:00:00']
Unique values in flightb: ['B6 718 (to BOS)' 'DL 2143 (to MIA)' 'B6 1178 (to BOS)' ...
 'UA 205 (to FLL)' 'UA 212 (to BOS)' 'UA 334 (to MCO)']
Unique values in avgdelay: [16.8571428571429 5.7578947368421 31.3712121212121 ... 80.5 105.0
 41.3333333333333]
Unique values in airline: ['JetBlue Airways' 'Delta Air Lines Inc.' 'American Airlines Inc.'
 'United Air Lines Inc.' 'US Airways Inc.' 'ExpressJet Airlines Inc.'
 'Envoy Air' 'Endeavor Air Inc.']
Unique values in airport: ['General Edward Lawrence Logan Intl' 'Miami Intl' 'San Francisco Intl'
 'Hartsfield Jackson Atlanta Intl' 'Los Angeles Intl' 'Chicago Ohare Intl'
 'Orlando Intl' 'Charlotte Douglas Intl' 'Fort Lauderdale Hollywood Intl']
Unique values in dst: ['A']
Unique values in tzone: ['America/New_York' 'America/Los_Angeles' 'America/Chicago']
Unique values in y_train: [33.0 2253.0 2224.0 ... 315.0 401.0 623.0]

In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline

# Check for and handle missing values
X_train = X_train.dropna()
y_train = y_train[X_train.index]  # Adjust y_train accordingly

# Convert 'object' columns to numerical values
X_train['dep_time'] = pd.to_numeric(X_train['dep_time'], errors='coerce')
X_train['dep_delay'] = pd.to_numeric(X_train['dep_delay'], errors='coerce')
X_train['arr_delay'] = pd.to_numeric(X_train['arr_delay'], errors='coerce')
X_train['air_time'] = pd.to_numeric(X_train['air_time'], errors='coerce')

# Drop remaining missing values
X_train = X_train.dropna()

# Ensure all features are numeric
X_train = pd.get_dummies(X_train)

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

# Random Forest with pipeline
random_forest_model = make_pipeline(StandardScaler(), RandomForestRegressor())
random_forest_scores = cross_val_score(random_forest_model, X_train_scaled, y_train, cv=5, scoring='r2')

print("Random Forest Cross-Validation Scores:", random_forest_scores)
print("Random Forest Mean R^2:", random_forest_scores.mean())

NameError: name 'X_train' is not defined